/*
    //////////
    Font Families
    //////////
*/

@font-face {
    font-family: serifDisplay;
    src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: barlow;
    src: url(../fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
    font-family: barlow-bold;
    src: url(../fonts/Barlow/Barlow-Bold.ttf);
}

h1,
h2,
h3{
   font-family: serifDisplay, serif; 

}

p{
    font-family: barlow, sans-serif;
}

figcaption{
    font-family: barlow, sans-serif;
}

h2,h3{
    padding: 2rem 0.5rem;
}

button{
    font-family: barlow, sans-serif;
}




/*
    //////////
    Link Handling
    //////////
*/

a{
    color: black;
    text-decoration: none;
}

li a{
    font-family: barlow, sans-serif;
}



/*
    //////////
    Header & Nav Menu
    //////////
*/

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    height: 14vh;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li a::after {
    content: " ";
    display: block;

    width: 0%;
    height: 1px;

    background-color: #000;

    transition: width 0.4s;
}

 li a:hover::after {
    width: 100%;
    
}

.current-page a{
    font-family: barlow-bold, sans-serif;
}

@media(min-width:56.25em){

    nav{
        margin: 0 2rem;
    }
    ul li{
        padding: 1rem;
    }
}



/*
    //////////
    Hamburger Menu Handling
    //////////
*/


.burger div{
    width: 35px;
    height: 5px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

html, body{
    overflow-x: hidden;
}

.nav-links{
    position: absolute;
    padding: 0.5rem;
    right: 0;
    height: 86vh;
    top: 14vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 100;
}

.nav-links li{
    opacity: 0;
    z-index: 100;
}

.burger{
    display: block;
    cursor: pointer;
}

.nav-active{
    transform: translateX(0%);
    z-index: 99999;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-8px, -6px);
}


@media(min-width: 50em){
    .burger{
        display: none;
    }

    .nav-links li{
        opacity: 1;
    }
    
    .nav-links{
        position: relative;
        top: 0;
        height: 14vh;
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        transform: translateX(0%);
        background-color: #ffffff00;
    }

    ul li{
        padding: 0.5rem;
    }
} 






/*
    //////////
    Main
    //////////
*/

main{
    background-color: #F6F6F6;
}

.site-body{
    padding: 0.5rem;
}

@media(min-width:56.25em){
    .site-body{
        padding: 2rem;
    }
}


/*
    //////////
    Footer
    //////////
*/

footer{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: 8vh;
}

footer p{
    font-size: 1rem;
}

.social-links img{
    height:1.25rem;
    margin: 0.25rem;
}

@media(min-width:56.25em){
    footer{
        margin: 0 2rem;
    }
}




/*
    //////////
    Home Page
    //////////
*/


.banner-title{
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.banner{
    margin: 2rem 0.5rem;
    position: relative;
    text-align: center;
    z-index: 999;
}

.banner img{
    object-fit: cover;
    display: block;
}

.banner:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

@media(min-width:56.25em){
    .banner{
        margin: 2rem;
    }
    .banner img{
        height: 30rem;
        width: 100%;
    }

    .banner h2{
        font-size: 5rem;
    }
}







/*
    //////////
    Events Page
    //////////
*/

article{
    display: inline-block;
}

.show-more-text{
    padding: 0.5rem;
}

.show-more-text h3{
    padding: 0;
    margin-top: 0.5rem;
}

.show-more-text button{
    border: none;
    background-color: rgb(124, 41, 41);
    color: white;
    padding: 0.5rem;
    opacity: 0.6;
    transition: 0.3s;
}

.show-more-text button:hover{
    background-color: rgb(97, 41, 41);
    opacity: 1;
}

#more{
    display: none ;
}

@media(min-width:43.75em){

    .events{
        display: flex;
        flex-wrap: wrap;
        margin: 0 0.5rem 3rem 0.5rem;
    }

    .events img{
        width: 50%;
        object-fit: cover;
    }

    .show-more-text{
        width: 50%;
        padding: 1rem;
        align-items: center;
    }

}

@media(min-width:62.5em){
    #dots{
        display: none;
    }
    #more{
        display: inline-block;
    }
    #myBtn{
        display: none;
    }
}


/*
    //////////
    Portraits Page
    //////////
*/

/* .portrait-grid{
    margin: 0 auto;
} */

.portrait-img{
    margin: 0 auto;
    padding-bottom: 3rem;
}

.portrait-img img{
    display: block;
}

article p{
    text-align: center;
}

@media(min-width:25em){
    .portrait-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .portrait-img img{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media(min-width:50em){

    .portrait-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
 
    .portrait-img img{
        width: 20rem;
        height: 20rem;
    }
}





/*
    //////////
    About Page
    //////////
*/

.link{
    color: rgb(124, 41, 41);;
    font-family: barlow-bold;
}

.link:hover{
    color: rgb(97, 41, 41);
    transition: all 0.3s ease;
}

@media(min-width: 37.5em){
    .about-hero img{
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .about-text-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .about-me{
        /* width: 50%; */
        margin: 1rem 0;
    }
}

@media(min-width: 50em){

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    .about-site-body{
        padding: 2rem;
        display: grid;
        grid-template-areas: 
        "a . b b"
        "a . c c";
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .about-hero{
        grid-area: a;
    }

    .about-hero img{
        object-fit: cover;
        /* object-position: 0 10%; */
        width: 100%;
        /* height: 30rem; */
        margin: 0;
    }

    #who-am-i{
        grid-area: b;
    }

    #contact-me{
        grid-area: c;
    }

    .about-me{
        width: 100%;
    }

    .about-site-body .show-more-text{
        width: 100%;
    }
}


/*
    //////////
    Essays Page
    //////////
*/

.essays{
    margin: 2rem auto;
}

.essay-content{
    margin: 0.5rem;
}

@media(min-width:56.25em){

    .essays{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .essays .banner{
        place-self: center;
    }

    .essays .banner img{
        width: 35rem;
        height: 35rem;
    }

    .essays h3{
        font-size: 2.5rem;
    }
}


.container{
    margin: 3rem auto;
    display: flex;
    aspect-ratio: 1/1;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.container img{
    display: block;
    min-width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

.soon-site-body{
    min-height: 70vh;
}

@media(min-width: 37.5em){
    .container{
        width: 30rem;
        height: 30rem;
    }

    .container img{
        min-width: 30rem;
    }
}

@media(min-width:62.5em){
    .essay-content{
        display: flex;
        flex-wrap: wrap;  
    }

    .essay-content p{
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: justify;
        max-width: 40%;
    }

    .container{
        order: 3;
        width: 90%;
    }
    
    .soon-site-body{
        min-height: 60vh;
    }

    .soon-site-body h2{
        margin: 2rem;
    }
}
